header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square-container {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 5px solid black;
}

.square {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.square:hover {
  cursor: pointer;
}